<%include ../partials/header%>

<h1><strong><u>Description</u></strong></h1>
 <div style= "margin: 20px auto;"><img src="<%=campground.image%>"></div 
 <div><h5><strong><%=campground.name%></strong></h5></div>
 <p>
  <div class="caption"><%=campground.discription%></div> 
 </p>
 <%campground.comments.forEach(function(comment){%>
<p>
 <strong><%=comment.author%></strong> - <%=comment.text%>
</p>
<%})%>
<a href="/campgrounds/<%= campground._id %>/comments/new" class ="btn btn-success">Add Comment</a>
<a href="/campgrounds" class ="btn btn-primary">Go back</a>
<%include ../partials/footer%>